.backGroundImage {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.backGroundImage::before {
    content: '';
    background-image: url('../images/imagen12.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
    

.backGroundImage h1 {
    font-size: 36px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    color: white;
    text-shadow: 1px 1px #ff00fb;
}

.backGroundImage h2 {
    font-size: 24px;
    color: white;
    z-index: 40;
    text-shadow: 1px 1px #ff00fb;
}

.backGroundImage button {
    position: relative;
    border-radius: 8px;
    padding: 6px 10px;
    background-color: #00f60a;
    border: 3px #2af832 solid;
    box-shadow: 5px 6px 7px #00f60a;
}

button > a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
}

@media (min-width: 800px) {
    .backGroundImage::before {
        background-size: cover;
    }
}