.mainContainer .containerVideo .card .card-header {
    background-color: #ff00fb;
}


@media (min-width: 768px) {
    .mainContainer .containerVideo {
        display: flex;
        flex-direction: row !important;
    }
}