.navbar{
    padding: 0 !important;
    z-index: 500;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: inherit;
}

.navbar-brand{
    margin-right: none;
}

.nav-item {
    padding: 0 1rem 0 1rem;
}

.nav-item:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item ion-icon {
    padding: 0.5rem;
    font-size: 1.3rem;
}

.nav-item ion-icon:nth-child(1){
    color: red;
}
.nav-item ion-icon:nth-child(2){
    color: linear-gradient(90deg, rgba(63,94,251,1) 17%, rgba(252,70,107,1) 94%)
}
.nav-item ion-icon:nth-child(3){
    color: green;
}