
.navContainer {
    display: flex;
    align-items: start;
}

.navContainer .navBarSticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    padding: 0 !important;
    z-index: 500;
    background-color: #ff69b4;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: inherit;
}

.navbar-brand{
    margin-right: none;
}

.nav-item {
    padding: 0 1rem 0 1rem;
}

.nav-item:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item a {
    color: white;
}

.nav-item ion-icon {
    padding: 0.5rem;
}

.nav-item ion-icon:nth-child(1){
    color: red;
}
.nav-item ion-icon:nth-child(2){
    color: linear-gradient(90deg, rgba(63,94,251,1) 17%, rgba(252,70,107,1) 94%)
}
.nav-item ion-icon:nth-child(3){
    color: green;
}

.dropdown-menu.show {
    background-color: #ff69b4 ;
}


/* scroll */
.header-opacity {
    opacity: 0.9;
    background-color: #ff69b4;
}

@media (min-width: 992){
    .navContainer .navbar .container-fluid .minBar .minBarDestok{
        align-items: center;
    }
}