
.navContainer {
    display: flex;
    align-items: start;
}

.navContainer .navBarSticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    padding: 0 !important;
    z-index: 500;
    background-color: #800120;
}

.navbar .container-fluid .collapse .navbar-nav {
    border-radius: 24px;
}

.navbar .container-fluid .collapse .navbar-nav {
    border-radius: 24px;
}


.navbar-expand-lg .navbar-collapse {
    flex-grow: inherit;
}

.navbar-brand{
    margin-right: none;
}

.nav-item {
    padding: 0 1rem 0 1rem;
}

.navbar-nav .nav-link.active {
    color: none;
}



.nav-item:nth-child(5) {
    display: flex;
    align-items: center;
    justify-content: end;
}


.nav-item a {
    color: white;
    text-decoration: none;
}

.iconsNetWorks > a:hover {
    color: rgb(255, 125, 3);
}

.nav-item  a ion-icon {
    padding: 0.5rem;
}

.dropdown-menu.show {
    background-color: #800120 ;
    --bs-dropdown-border-color: none ;
}

.dropdown-item:hover {
    background-color: none;
}


/* scroll */
.header-opacity {
    opacity: 0.9;
    background-color: #800120;
}


@media (min-width: 992px){
    .navContainer .navbar .container-fluid .minBar .minBarDestok{
        align-items: center;
    }
}