.aboutMeSection {
  background: #FF6F1F;
    background: radial-gradient(circle, rgba(255, 111, 31, 1) 29%, rgba(255, 235, 102, 1) 98%);
}

/* Titulo */
.tituloSobreMi {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* Contenedor principal */
.containerSobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Mantiene estilo original para desktop */
.cardSobreMi {
  height: 76vh;
  background-color: #ffeb66;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Imagen */
.imgContainer {
  flex: 1;
}

.imgContainer img {
  border-radius: 0 20px 20px 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Contenedor del texto */
.textContainer {
  background-color: #ffe15a;
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Botón */
.textContainer .btnVerMas {
  background-color: #ff914d;
  color: white;
  border-radius: 20px;
  padding: 0.6rem 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s;
}

.textContainer .verMasBoton:hover {
  background-color: #ff6f1f;
}

.textContainer h2 {
  text-shadow: 0 3px 6px #ff6f1f;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .cardSobreMi {
    flex-direction: column-reverse; /* Cambia el orden en mobile */
  }

  .aboutMeSection .containerSobreMi {
    width: 20rem;
  }

  .textContainer {
    height: 30vh;
  }

  .imgContainer img {
    border-radius: 20px 20px 0 0;
    max-height: 400px;
  }

  .textContainer h2 {
    font-size: 1.5rem;
  }

  .btnVerMas {
    font-size: 0.9rem;
  }
}
