.planesSeccion .btnColor {
    background-color:   #fd79fd;
}
.planesSeccion .btnColor:hover {
    background-color: #ff00fb !important;
}


@media (min-width :700px) {
    .mainContainer div .planesSeccion {
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    .mainContainer div .planesSeccion div{
        margin: 0 2px;
    }
}


@media (min-width :1200px) {
    .mainContainer div .planesSeccion {
        flex-direction: row !important;
    }

}