<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
<body>
    <%- include("partials/header.ejs") %>
    <section class="backGroundImage">
            <div>
                <h1>"¡Transforma tu Vida con Nuestros Planes de Fitness Personalizados!"</h1>
                <h2>¡Consigue tu mejor versión!</h2>
                <button>
                    <a href=https://api.whatsapp.com/send/?phone=541124539378>Envíanos un Whatsapp</a>
                </button>
            </div>
    </section>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
    <%- include("partials/footer.ejs") %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>