<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
<body>
    <div class="navContainer">
        <%- include("partials/header.ejs") %>
    </div>
    <div id="mainContainer" class="mainContainer">
        <section class="backGroundImage">
            <h1>"¡Transforma tu Vida con Nuestros Planes de Fitness Personalizados!"</h1>
            <h2>¡Consigue tu mejor versión!</h2>
            <button>
                <a href=https://api.whatsapp.com/send/?phone=541124539378>Envíanos un Whatsapp</a>
            </button>
        </section>
        <div class="d-flex flex-column  p-3 mb-3 justify-content-center align-items-center text-center">
            <h2 class="fw-bold">Planes Aqui!</h2>
            <%- include('partials/cardPlanes.ejs')%>
        </div>
        <div class="div" style="background-color: aqua; width: 100%;
        height: 300px;">
            <a href="https://youtube.com/shorts/Khr65cMxMBg" style="color: black;">SOBRE MI </a>
        </div>
        <div class="div" style="background-color: red; width: 100%;
        height: 500px;">
            <a href="https://youtube.com/shorts/Khr65cMxMBg" style="color: beige;">PREGUNTAS FRECUENTES</a>
        </div>
        <div class="div" style="background-color:chocolate; width: 100%;
        height: 300px;">
            <a href="https://youtube.com/shorts/Khr65cMxMBg" style="color: beige;">CONTACTANOS</a>
        </div>
    </div>
    <%- include("partials/footer.ejs") %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/js/headerNav.js"></script>
</body>
</html>