<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Holaa aqui es el comienzo del todoooooo</h1>
    <a href="/detailPlan">Detalle</a>
    <div class="div">
        <a href="https://youtube.com/shorts/Khr65cMxMBg">hola</a>
    </div>
</body>
</html>