<% planes.forEach(plan => { %>
  <div class="card p-2 m-2" style="width: 18rem;">
    <img src="<%= plan.imagen %>" class="card-img-top" alt="<%= plan.titulo %>">
    <div class="card-body">
      <h5 class="card-title"><%= plan.titulo %></h5>
      <p class="card-text"><%= toThousand(plan.precio) %></p>
      <a href="#" class="btn btn-primary">Ver detalle</a>
    </div>
  </div>
<% });%>
