<section class="py-4">
  <div class="container text-center">
    <h5 id="seccionContacto" class="fw-bold mb-3 seccionContacto ">CONTACTANOS</h5>

    <div class="bg-warning rounded p-4 mx-auto" style="max-width: 600px">
      <h6 class="fw-semibold">HORARIOS</h6>
      <p class="mb-1">
        Estaremos respondiendo sus consultas en el horario de atención de
      </p>
      <p class="mb-1">Lunes a Viernes</p>
      <p class="mb-1">de 9hs a 13 hs y 14 hs a 18hs.</p>
      <p class="mb-3">Sábado 09 hs a 13hs.</p>

      <div class="d-flex justify-content-center gap-3">
        <a
          href="https://www.instagram.com/fieras_fitness/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-dark fs-4"
        >
          <ion-icon class="fs-2" name="logo-instagram" style="color:white ;"></ion-icon>
        </a>
        <a
          href="https://wa.me/5492996226227/?text=hola%20me%20intersa%20su%20plan"
          target="_blank"
          rel="noopener noreferrer"
          class="text-success fs-4"
        >
          <ion-icon class="fs-2" name="logo-whatsapp" style="color:white ;"></ion-icon>
        </a>
      </div>
    </div>
  </div>
</section>
