<footer class="conteinerFooter">
    <section class="pageFooter">
        <div>
            <a class="" href="/">
                <img src="/logo/logo.svg" alt="" width="180" height="150" />
              </a>
        </div>
        <div class="navFooter">
            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Sobre mi </a>
                <a class="nav-link">Contactos</a>
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Planes
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Plan Personalizado 2/S</a></li>
                    <li><a class="dropdown-item" href="#">Plan Personalizado 3/S</a></li>
                    <li><a class="dropdown-item" href="#">Plan A Distancia C/Seguimiento</a></li>
                    <li><a class="dropdown-item" href="#">Plan A Distancia S/Seguimiento</a></li>
                  </ul>
              </nav>
        </div>
        <div class="titleIcons">
            <h4>Seguinos en:</h4>
            <div class="iconsNetWorks">
                <ion-icon name="logo-youtube"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-icon name="logo-whatsapp"></ion-icon>
            </div>
        </div>
    </section>
    <div class="copyRigth">
        <div>Copyright © 2023. Todos los derechos reservados. <br> Diseñada por <a href="#">Lionel Maximiliano Gegena</a></div>
    </div>
</footer>