

<nav class="navbar navbar-expand-lg bs-tertiary-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/logo/logo.svg" alt="Bootstrap" width="180" height="180" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-rigth" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre mi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Planes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Plan Personalizado 2/S</a></li>
              <li><a class="dropdown-item" href="#">Plan Personalizado 3/S</a></li>
              <li><a class="dropdown-item" href="#">Plan A Distancia C/Seguimiento</a></li>
              <li><a class="dropdown-item" href="#">Plan A Distancia S/Seguimiento</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Contactemonos</a>
          </li>
          <li class="nav-item">
            <ion-icon name="logo-youtube"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </li>
        </ul>
      </div>
    </div>
  </nav>