<div class="accordion accordion-flush " id="accordionFlushExample" style="width: 90%;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Que incluye la sesión de entrenamiento?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Incluye las rutinas en PDF y videos con explicaciones de cada ejercicio.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¿Necesito elementos para los planes generales y personalizados on line??
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> No, no hace falta elementos convencionales, podes utilizar lo que dispongas en casa.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¿Cuánto dura la rutina de entrenamiento, una vez que transcurre el mes, debo renovarla?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Las rutinas son mensuales, por lo tanto, una vez que transcurre el mismo, debo volver abonar para renovar la misma.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Puedo cambiar de objetivo de mes a mes? (en el caso de los personalizados)
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> Si, en el caso de los personalizados se debe avisar antes de que termine el mes, 1 semana antes que el objetivo 
          desea ser modificado, para que al momento de llevar a cabo la planificación se tenga en cuenta el mismo.
          En el caso de los planes generales, los objetivos están fijados (sin opción por parte del cliente) y los planes 
          generales son por etapas.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          ¿Los planes de alimentación son para cualquiera?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Los planes de alimentación son generales, no se tiene en cuenta patología, dietas específicas.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          Medios de pago
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"> Por medio de transferencia, efectivo o depósito ( que sería a nuestra cuenta) ❤️</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            ¿Cuánto demoran en enviarnos los planes on line? 
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Una vez que me llega el comprobante, dentro de las 72 hs hábiles estarías recibiendo el plan.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEigth">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEigth" aria-expanded="false" aria-controls="flush-collapseEigth">
            ¿Es necesario sacarme las fotos y registrar con cinta métrica la composición corporal?
        </button>
      </h2>
      <div id="flush-collapseEigth" class="accordion-collapse collapse" aria-labelledby="flush-headingEigth" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Registrar los cambios físicos es PRIMORDIAL, SI, en todos los entrenamientos pero, sobre todo en los planes online, para tener registro tanto 
          para la empresa y para el alumno, ya que a través de los mismos se visualizan y corroboran los cambios que 
          propioceptivamente cuesta ver.
          La empresa y el alumno, utilizan las imágenes para publicidad, sólo si este último, nos autoriza y desea a ser
          parte de nuestros testimonio, caso contrario solo quedarán reservadas solo para la empresa.</div>
      </div>
    </div>
</div>