<div class="accordion accordion-flush " id="accordionFlushExample" style="width: 90%;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            ¿Cómo compro los planes?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            Escribinos por <a href="https://api.whatsapp.com/send/?phone=541124539378">WhatsApp</a> indicándonos tu nombre y apellido y qué planes queres contratar.
            Nosotras te enviaremos los datos para realizar el pago vía transferencia bancaria o Mercado Pago. 

            ⚠️​ ¡IMPORTANTE! ⚠️​
            Necesitamos que nos envíes el comprobante de pago por WhatsApp para comenzar con los planes de entrenamiento y nutrición. 
            No daremos comienzo ni enviaremos documentación hasta recibir el comprobante del pago realizado de manera correspondiente.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            ¿Cuál es el horario de atención?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Estaremos respondiendo sus consultas en el horiario de atención de Lunes a Sábados de 8 a 17 hs.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            ¿Necesito elementos para la Rutina del Hogar?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">¡No es necesario! Las rutinas están armadas de forma que puedan hacerlas quienes tienen y quienes no tienen elementos de trabajo.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            ¿Es obligatorio renovar el plan mensualmente (rutina mensual de 30 días)?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">No necesariamente. Solo tenes que saber que una vez que abonas accedes no solo a las rutinas sino al contacto conmigo vía WhatsApp y grupo también en caso que desees, que tendrá un tiempo vigente de 4 semanas desde que se abona. Luego podrás abonar nuevamente y pedir tus nuevas rutinas, pasar al siguiente nivel.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Cómo son las clases? ¿Puedo entrenar en cualquier horario?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">El horario lo deciden ustedes. Se envían las rutinas con sus respectivos videos explicativos. Estos mismos son cortos y prácticos para que no te ocupen mucho espacio y sean fáciles de entender.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            ¿El contacto es con vos?
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Sí!, en el caso de que hayas contratado un plan con acceso a consultas, siempre en mi horario estoy yo contestando sus dudas ❤️</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            ¿Cuánto se tarda en enviar el plan una vez que abono?
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Una vez que me llega el comprobante, dentro de las 72 hs hábiles estarías recibiendo el plan.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingEigth">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEigth" aria-expanded="false" aria-controls="flush-collapseEigth">
            ¿Todas las rutinas tienen acceso a consultas?
        </button>
      </h2>
      <div id="flush-collapseEigth" class="accordion-collapse collapse" aria-labelledby="flush-headingEigth" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Solo los planes que dicen <span class="fw-bold">CON ACCESO A CONSULTAS.</span> </div>
      </div>
    </div>
</div>