<section class="containerBanner">
    <div class="contanerFoto container-sm">
        <img src="/images/imagen12.webp" class="img-fluid rounded-start" alt="" sizes="" srcset="">
    </div>
    <div class="contanerTexto">
        <h1>"¡FIERAS FITNESS"</h1>
        <h2>¡nos enfocamos en <br>
            mejorar el rendimineto deportivo mediantes <br>
             habitos saludables
        <button>
            <a href="https://wa.me/54299155782703/?text=hola%20me%20intersa%su%plan" target="_blank">Envíanos un Whatsapp</a>
        </button>
    </div>
    <div class="contanerIconos">
        <ion-icon name="logo-top"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
    </div>
</section>