<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="images/testimonio/testimonio1.webp" alt="testimonio1" />
    </div>
    <div class="swiper-slide">
        <img src="images/testimonio/testimonio2.webp" alt="testimonio2" />
      </div>
    <div class="swiper-slide">
        <img src="images/testimonio/testimonio3.webp" alt="testimonio3" />
      </div>
    <div class="swiper-slide">
        <img src="images/testimonio/testimonio4.webp" alt="testimonio4" />
      </div>
    <div class="swiper-slide">
        <img src="images/testimonio/testimonio5.webp" alt="testimonio5" />
      </div>
    <div class="swiper-slide">
        <img src="images/testimonio/testimonio6.webp" alt="testimonio6" />
      </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
