<div id="seccionSobreMi" class="aboutMeSection py-5">
    <div class="container d-flex justify-content-center containerSobreMi">
      <div class="cardSobreMi">
        <!-- Columna de texto -->
        <div class="textContainer p-4 d-flex flex-column justify-content-center align-items-center text-center">
          <h2 class="fw-bold">HOLA A TODOS, <br> SOY MARIANA.</h2>
          <p>Quiero que me conozcas un poco más…</p>
          <a href="/sobreMi" class="btn btnVerMas verMasBoton">VER MÁS</a>
        </div>
  
        <!-- Columna de imagen -->
        <div class="imgContainer">
          <img src="images/imagen19.webp" alt="Mariana Cabeda" class="img-fluid h-100 w-100 object-fit-cover">
        </div>
      </div>
    </div>
  </div>